body {
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgb(228, 76, 76);
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 13px;
}

table {
    background-color: rgb(255, 255, 255);
    border: 3px solid;
    border-color: lightsalmon;
    margin: 0 auto;
    margin-top: 10px;
}

h1 {
    font-size: 40px;
}

td {
    width: 15px;
    height: 15px;
    border: 1px solid rgb(255, 202, 122);
    ;
}

td:hover {
    background-color: rgb(193, 192, 188);
}

.timer {
    font-size: 15px;
    margin: 0 auto;
    margin-bottom: 5px;
    border: 3px solid;
    border-color: lightsalmon;
    background-color: rgb(228, 76, 76);
    color: rgb(0, 0, 0);
    width: 110px;
}

button {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 14px;
    border: 3px solid;
    border-color: lightsalmon;
    background-color: rgb(228, 76, 76);
    color: rgb(0, 0, 0);
    cursor: pointer;
}

footer {
    margin-top: 40px;
}

button:hover {
    color: grey
}

span {
    visibility: visible;
}

.cell-context {
    visibility: hidden;
}

.smilei {
    font-size: 25px;
    margin-bottom: 3px;
    cursor: pointer;
}

.lives {
    font-size: 18px;
    margin-top: 5px;
    height: 35px;
}

.hint {
    font-size: 18px;
    margin: 0 auto;
    border: 3px solid;
    border-color: lightsalmon;
    width: 260px;
    margin-bottom: 10px;
    cursor: pointer;
}

.safe {
    font-size: 18px;
    margin: 0 auto;
    border: 3px solid;
    border-color: lightsalmon;
    width: 340px;
    margin-bottom: 10px;
    cursor: pointer;
}