body {
    text-align: center;
    color: blanchedalmond;
    background-color: rgb(228, 76, 76);
}

table {
    background-color: rgb(255, 255, 255);
    border: 3px solid;
    border-color: lightsalmon;
    margin: 0 auto;
    margin-top: 30px;
}

td {
    width: 25px;
    height: 25px;
    border: 1px solid lightsalmon;
    ;
}

td:hover {
    background-color: rgb(193, 192, 188);
}

.timer {
    margin: 0 auto;
    margin-bottom: 20px;
    font-size: 18px;
    border: 3px solid;
    border-color: lightsalmon;
    background-color: rgb(228, 76, 76);
    color: blanchedalmond;
    width: 80px;
}

button {
    font-size: 18px;
    border: 3px solid;
    border-color: lightsalmon;
    background-color: rgb(228, 76, 76);
    color: blanchedalmond;
}

button:hover {
    color: grey
}

span {
    visibility: visible;
    /* background-color: red; */
    /* visibility: hidden; */
}

.cell-context {
    /* background-color: red; */
    /* visibility: visible; */
    visibility: hidden;
}

.smilei {
    font-size: 40px;
    margin-bottom: 10px;
}

.lives {
    font-size: 40px;
    margin-top: 10px;
}